firstFlow
[{"id":"570ff259.605cd4","type":"websocket-listener","z":"","path":"/ws/speech","wholemsg":"false"},{"id":"8236957e.77151","type":"debug","z":"14a00e04c035138","name":"","active":true,"console":"false","complete":"false","x":408.5,"y":361.5,"wires":[]},{"id":"cfb16bda.2d5938","type":"http in","z":"a900e04c035138","name":"","url":"/se","method":"post","swaggerDoc":"","x":177.5,"y":254,"wires":[["d8f952ca.ba5a28","dbf4c1a9.93f53","26f1dd07.21d192"]]},{"id":"d8f952ca.ba5a28","type":"debug","z":"a900e04c035138","name":"","active":true,"console":"false","complete":"false","x":342.5,"y":269.5,"wires":[]},{"id":"dbf4c1a9.93f53","type":"http response","z":"a900e04c035138","name":"","x":337.5,"y":214.5,"wires":[]},{"id":"47c52d77.5c23f4","type":"inject","z":"a900e04c035138","name":"","topic":"","payload":"se","payloadType":"str","repeat":"","crontab":"","once":false,"x":86.5,"y":356,"wires":[["9f25205a.d3ffe"]]},{"id":"9f25205a.d3ffe","type":"http request","z":"a900e04c035138","name":"","method":"POST","ret":"txt","url":"127.0.0.1:1880/se","x":287.5,"y":373,"wires":[[]]},{"id":"26f1dd07.21d192","type":"websocket out","z":"a900e04c035138","name":"","server":"570ff259.605cd4","client":"","x":350,"y":318,"wires":[]},{"id":"c360e481.70d598","type":"http in","z":"a900e04c035138","name":"","url":"/speech","method":"get","swaggerDoc":"","x":209,"y":140,"wires":[["d9bcf5b.9ead408"]]},{"id":"ffcc115.46111f","type":"http response","z":"a900e04c035138","name":"","x":580,"y":158,"wires":[]},{"id":"d9bcf5b.9ead408","type":"template","z":"a900e04c035138","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n\n\n \n\n \n \n \n
\n \n\n","x":410,"y":132,"wires":[["ffcc115.46111f"]]},{"type":"tab","id":"a900e04c035138","label":"Flow Equipo INNBIT"},{"id":"4500e04c035138","type":"subflow","name":"INNBIT","info":"","in":[{"x":148,"y":34,"wires":[{"id":"2b00e04c035138"}]}],"out":[{"x":632,"y":177,"wires":[{"id":"cc00e04c035138","port":0}]}]},{"id":"14a00e04c035138","type":"subflow","name":"no se phone","info":"","in":[{"x":213,"y":64,"wires":[{"id":"fb00e04c035138"}]}],"out":[{"x":621,"y":196,"wires":[{"id":"2600e04c035138","port":0}]}]},{"id":"b900e04c035138","type":"mqtt-broker","z":"4500e04c035138","broker":"iot.eclipse.org;","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"9e00e04c035138","type":"mqtt-broker","z":"a900e04c035138","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"9900e04c035138","type":"mqtt-broker","z":"a900e04c035138","broker":"iot.eclipse.org;","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"ae00e04c035138","type":"mqtt-broker","z":"14a00e04c035138","broker":"iot.eclipse.org;","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"2b00e04c035138","type":"function","z":"4500e04c035138","name":"","func":"percentage = msg.payload.percentage;\nmsg={};\n\nmsg.headers = {\n \"Authorization\" : \"Bearer 2a07dffe902dfafd69a66b8cc5bda1928e9dbf8bd6553949b55090d59bda9a88\",\n \"Content-type\" : \"application/json\" \n};\n\nmsg.payload = {\n \"percent\": percentage,\n \"duration_ms\": -1\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":355.20001220703125,"y":51.19999694824219,"wires":[["d300e04c035138"]]},{"id":"d300e04c035138","type":"http request","z":"4500e04c035138","name":"","method":"POST","ret":"obj","url":"https://api-http.littlebitscloud.cc/v2/devices/00e04c035138/output","x":510.20001220703125,"y":52.19999694824219,"wires":[["5f00e04c035138"]]},{"id":"5f00e04c035138","type":"debug","z":"4500e04c035138","name":"","active":true,"console":"false","complete":"false","x":653.5,"y":127.19999694824219,"wires":[]},{"id":"6700e04c035138","type":"mqtt in","z":"4500e04c035138","name":"","topic":"cloudbit/00e04c035138","broker":"b900e04c035138","x":262.9000244140625,"y":237.80001831054688,"wires":[["cc00e04c035138"]]},{"id":"14000e04c035138","type":"subflow:4500e04c035138","z":"a900e04c035138","x":255.5,"y":150.5,"wires":[["c200e04c035138"]]},{"id":"cc00e04c035138","type":"function","z":"4500e04c035138","name":"","func":"msg.payload = JSON.parse(msg.payload);\nmsg.payload = \n{\n beacon: \"MesaA\",\n percentage: msg.payload.payload.percent\n};\nif ((msg.payload.beacon != \"\") && (msg.payload.beacon != undefined)){\n return [null, msg];\n}\nelse {\n return [msg, null];\n}","outputs":"2","noerr":0,"x":472.5,"y":266,"wires":[[],["a700e04c035138"]]},{"id":"2000e04c035138","type":"mqtt in","z":"4500e04c035138","name":"","topic":"appbeacon/out","broker":"b900e04c035138","x":88,"y":137,"wires":[["e900e04c035138"]]},{"id":"e900e04c035138","type":"function","z":"4500e04c035138","name":"","func":"msg.payload = JSON.parse(msg.payload);\nif (msg.payload.beacon == \"MesaA\") {\n return msg;\n}\nelse {\n return null;\n}\n","outputs":"1","noerr":0,"x":247,"y":169,"wires":[["2b00e04c035138"]]},{"id":"a700e04c035138","type":"mqtt out","z":"4500e04c035138","name":"","topic":"appbeacon/in","qos":"","retain":"","broker":"b900e04c035138","x":689,"y":282.5,"wires":[]},{"id":"fb00e04c035138","type":"mqtt out","z":"14a00e04c035138","name":"","topic":"phone/sub/innbit","qos":"","retain":"","broker":"ae00e04c035138","x":394.5,"y":108.5,"wires":[]},{"id":"5400e04c035138","type":"mqtt in","z":"14a00e04c035138","name":"","topic":"phone/pub/innbit","broker":"ae00e04c035138","x":329.5,"y":224,"wires":[["2600e04c035138"]]},{"id":"b200e04c035138","type":"mqtt in","z":"14a00e04c035138","name":"","topic":"appbeacon/in","broker":"ae00e04c035138","x":81,"y":127,"wires":[["1c00e04c035138"]]},{"id":"c200e04c035138","type":"subflow:14a00e04c035138","z":"a900e04c035138","x":272.5,"y":242.5,"wires":[["14000e04c035138"]]},{"id":"9b00e04c035138","type":"mqtt out","z":"14a00e04c035138","name":"","topic":"appbeacon/out","qos":"","retain":"","broker":"ae00e04c035138","x":639,"y":316,"wires":[]},{"id":"2600e04c035138","type":"function","z":"14a00e04c035138","name":"","func":"msg.payload = JSON.parse(msg.payload);\nif ((\"MesaA\" != \"\") && (\"MesaA\" != undefined)){\n return [null, msg];\n}\nelse {\n return [msg, null];\n}","outputs":"2","noerr":0,"x":499,"y":250,"wires":[[],["9b00e04c035138"]]},{"id":"1c00e04c035138","type":"function","z":"14a00e04c035138","name":"","func":"msg.payload = JSON.parse(msg.payload);\nif ((\"MesaA\" != \"\") && (\"MesaA\" != undefined)){\n return msg;\n}\nelse {\n return null;\n}","outputs":"1","noerr":0,"x":223,"y":161,"wires":[["fb00e04c035138"]]}]
